/* .cartWidget{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.shoppingCart{
    color: white;
} */

.cart-widget {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -4px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
